<h1>Create a restaurant! <%= @restaurant.name %></h1>

 <!---<form method="post" action="/reviews">
 <form method="post" action="/restaurants/5/reviews">-->

  <%= render 'form', restaurant: @restaurant %>
